# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
data/
results/
notebooks/db/
notebooks/anaconda_projects/
anaconda_projects/
app.py
scripts/smoke_test.py
